menuconfig KBUS
        tristate "KBUS messaging system"
        default m
        ---help---
	KBUS is a lightweight messaging system, particularly aimed
	at embedded platforms. This option provides the kernel support
	for mediating messages between client processes.

	If you want KBUS support, you should say Y here.

	This support can also be built as a module. If so, the module
	will be called kbus.

